@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var utente = (Laboratorio5.Web.Features.Base.UtenteViewModel)ViewData[Laboratorio5.Web.Features.Base.BaseController.UtenteViewDataKey];
}
@section metas{
    @RenderSection("metas", false)
}
@section styles{
    @RenderSection("styles", false)
}
<div id="pageId">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action(MVC.Home.Index())">Laboratorio5.Web</a>
                @if (utente != null)
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action(MVC.Home.Index())">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action(MVC.Home.Privacy())">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action(MVC.Game.Game.Index())">Gioco</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="dropdownUtente" data-bs-toggle="dropdown">
                                    <i class="fa fa-user-circle"></i>&nbsp;@utente.Email
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownUtente">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="javascript: document.getElementById('POST_LogOut').submit()"><i class="fa fa-fw fa-sign-out"></i>&nbsp;Logout</a>
                                        <form autocomplete="off" method="post" action="@Url.ActionAbsolute(MVC.Login.Logout())" id="POST_LogOut" display="none"></form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    @RenderSection("pageTitle", false)
    @RenderSection("pageSubtitle", false)
    <main>
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Laboratorio5.Web - <a href="@Url.Action(MVC.Home.Privacy())">Privacy</a>
        </div>
    </footer>
</div>
@section scripts{
    @* @this.RenderScriptAlertsWithToastify() *@
    @RenderSection("scripts", false)
}
